.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 900px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.title {
  flex: 1;
}
